.video-section-title{
    grid-column: 1/-1;

    margin: -.5rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.video-section-title-close{
    border: none;
    padding: 0;
    background: none;

    font-size: 2rem;
    color: grey;
    cursor: pointer;
}