.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;

    border-top: 4px solid grey;

    &:first-child{
        border-top: none;
    }
}