.video-details{
    display: flex;
    flex-direction: column;
}

.video-title{
    font-size: 1.1rem;
    font-weight: bold;

    margin-bottom: .5rem;
    text-decoration: none;

    color: black;
}

.channel-name{
    margin-bottom: .1rem;
    text-decoration: none;

    color: grey;

    transition: color 150ms;

    &:hover{
        color: black;
    }   
}

.video-metadata{
    color: grey;
}
